html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Slabo 27px', serif;
}


.header{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow-x: hidden;
}
.header::before{
    content: "";
    display: flex;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(54, 156, 243, 0.28)),
        to(rgba(3, 36, 98, 0.28))), 
        url("../img/desenvolvimento.jpg"); 
    background-size: cover;
    filter: blur(1px)contrast(70%);
    
}

.header-info{
    position: absolute;
    font-size: 20px;
    color: black;
    text-shadow: 10px 3px 25px rgba(15,15,15,1);

}
.btn{
    border: 2px solid #000;
    margin: auto;
    margin-bottom: 30px;
    width: 10em;
    height: 2.4em;
    margin-top: 30px;
    font-family: 'Slabo 27px', serif;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(143, 201, 162);
    font-size: 16px;
    transition-property: border, background-color;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}
.btn:hover{
border-width: 4px;
background-color: transparent;
}
a{
    text-decoration: none;
    color:rgb(59, 59, 59);
}
.section{
    display: flex;
    width: 100%;
    margin-top: 3em;
}
.experience-sec{
    flex-direction: column;
    text-emphasis: center;
    font-family: 'Slabo 27px', serif;
}

.section-header{
    margin: auto;
    font-size: 25px;
    padding: 10px 5px;
    border-bottom: 3px solid #1976d2;
}
.experience-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 6em;
}
.experience-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    border-radius: 4px;
}
.item-logo>img{
    width: 100%;
    height: 100%;
}
.item-logo{
    width: 15em;
    height: 15em;
}
.item-name{
    font-size: 25px;
    margin-top: 1.7em;
}
.contact-sec{
    min-height: 30em;
    background-color: rgb(143, 201, 162);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-container{
    width: 21em;
    margin-top: 5em;
    display: flex;
}
#contact-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#contact-form>label{
    color:rgb(11, 12, 12);
    font-family: 'Slabo 27px', serif;
}
#contact-form>input>{
    padding: 0, 5px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    border: 0px;
    border-bottom: 3px solid #1976d2;
    box-shadow: 0px 0px 15px 3px rgba(15,15,15,0.5);
    font-family: 'Slabo 27px', serif;
}
#contact-form>textarea{
    padding: 0, 5px;
     max-width: 100%;
     min-height: 100%;
     margin-bottom: 60px;
     min-height: 125px;
     font-size: 16px;
     box-shadow: 0px 0px 15px 3px rgba(15, 15, 15, 0.5);
     border-bottom: 3px solid #1976d2 ;
 }
.contact-sec .section-header{
    color: black;
}
